:root {
  --clouds-time: 60s;
  --mountains-time: 40s;
  --trees-time: 20s;
}


/* FRONT-WHEEL */
#front-wheel {
  animation: front-wheel 3s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes front-wheel {
  from {
    rotate: 0deg;
  }
  to {
    rotate: -360deg;
  }
}


/* BACK-WHEEL */
#back-wheel {
  animation: back-wheel 3s 2 linear forwards, back-wheel-off 3s 6s linear forwards;
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes back-wheel {
  from {
    rotate: 0deg;
  }
  to {
    rotate: -360deg;
  }
}
@keyframes back-wheel-off {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(150%);
    opacity: 0;
  }
}


/* BACK-WHEEL-MOTOR */
#back-wheel-motor {
  animation: back-wheel-motor-in 3s 9s linear forwards, back-wheel-motor 3s 12s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
  opacity: 0;
}
@keyframes back-wheel-motor-in {
  from {
    transform: translateX(150%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes back-wheel-motor {
  from {
    rotate: 0deg;
  }
  to {
    rotate: -360deg;
  }
}


/* BATTERY */
#battery {
  animation: battery 10s linear forwards;  
}
@keyframes battery {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: translateX(-20%) translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0%) translateY(0%);
  }
}


/* HEADPHONE */
#headphone {
  animation: headphone 3s linear infinite;  
}
@keyframes headphone {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-1%);
  }
  100% {
    transform: translateY(0%);
  }
}


/* CLOUDS */
#clouds-1 {
  animation: clouds-1 var(--clouds-time) linear infinite;
}
@keyframes clouds-1 {
  from {
    translate: -120%;
  }
  to {
    translate: -40%;
  }
}

#clouds-2 {
  animation: clouds-2 var(--clouds-time) linear infinite;
}
@keyframes clouds-2 {
  from {
    translate: -40%;
  }
  to {
    translate: 40%;
  }
}

#clouds-3 {
  animation: clouds-3 var(--clouds-time) linear infinite;
}
@keyframes clouds-3 {
  from {
    translate: 40%;
  }
  to {
    translate: 120%;
  }
}


/* MOUNTAINS */
#mountains-1 {
  animation: mountains-1 var(--mountains-time) linear infinite;
}
@keyframes mountains-1 {
  from {
    translate: -100%;
  }
  to {
    translate: 0%;
  }
}

#mountains-2 {
  animation: mountains-2 var(--mountains-time) linear infinite;
}
@keyframes mountains-2 {
  from {
    translate: 0%;
  }
  to {
    translate: 100%;
  }
}


/* TREES */
#trees-1 {
  animation: trees-1 var(--trees-time) linear infinite;
}
@keyframes trees-1 {
  from {
    translate: -100%;
  }
  to {
    translate: 0%;
  }
}

#trees-2 {
  animation: trees-2 var(--trees-time) linear infinite;
}
@keyframes trees-2 {
  from {
    translate: 0%;
  }
  to {
    translate: 100%;
  }
}